<html>
	<article class="event single">
		<div class="event-content">
			<h1 class="event-title" data-field="title"></h1>
			<div class="event-details">
				<div data-field="event_instances" data-subfield="datetime"></div>
				<div><a href="#" data-href="map" data-field="location_name"></a></div>
				<div data-field="room_number"></div>
			</div>
			<img class="event-photo" data-field="photo_url" alt="title" data-preferred="big">
			<div data-field="description"></div>
		</div>
		<br clear="all">
	</article>
</html>