<html>
	<article class="event big-date">
		<a href="#" data-href="detail">
			<div class="day">
				<div class="deets">
					<span class="dow" data-field="event_instances" data-subfield="dates" data-format="D">Tue</span>
					<span class="mon" data-field="event_instances" data-subfield="dates" data-format="M">Aug</span>
				</div>
				<span class="dom" data-field="event_instances" data-subfield="dates" data-format="j">4</span>
			</div>
			<img class="event-photo" data-field="photo_url" alt="title" data-preferred="big">
			<h1 class="event-title" data-field="title"></h1>
			<div data-field="event_instances" data-subfield="dates"></div>
			<div data-field="event_instances" data-subfield="times"></div>
			<div data-field="location_name"></div>
			<div data-field="room_number"></div>
		</a>
	</article>
</html>